* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.0125rem;
    color: var(--on-surface);
}
:root {
    --primary: rgba(98, 0, 238, 1);
    --on-primary: rgba(255, 255, 255, 1);
    --on-surface: rgba(0, 0, 0, 1);
}
.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list__title {
    padding: 10px;
    font-size: 1.25rem;
    font-weight: 600;
}
.header {
    position: fixed;
    width: 100%;
    padding: 15px 30px;
    background-color: var(--primary);
    color: var(--on-primary);
}
.sideBar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    flex-shrink: 0;
}
.navigationButton {
    padding: 10px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    color: var(--on-surface);
}

.main {
    padding: 60px 60px ;
    display: flex;
    gap: 50px;
}
.card {
    padding: 10px;
    border: 1px solid black;
    display: flow-root;
}
.card__wrapper {

}
.card__title {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.0125rem;
}
.card__body {
    font-size: 1.2rem;
}

.card_link {
    cursor: pointer;
    text-decoration: none;
}
.postForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.postForm > input, .postForm > textarea {
    border: none;
    border-bottom: 1px solid gray;
    background-color: rgba(0, 0, 0, 0.04);
    flex-wrap: wrap;
    letter-spacing: 0.009375em;
    opacity: 0.87;
    min-height: 56px;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    width: 100%;
    font-size: 1rem;
    outline: none;
}

.mt-2 {
    margin-top: 8px;
}
.mt-4 {
    margin-top: 16px;
}