* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
html {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.0125rem;
    color: var(--on-surface);
}
:root {
    --primary: rgba(98, 0, 238, 1);
    --on-primary: rgba(255, 255, 255, 1);
    --on-surface: rgba(0, 0, 0, 1);
    --error: red;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list__title {
    padding: 10px;
    font-size: 1.25rem;
    font-weight: 600;
}
.header {
    position: fixed;
    width: 100%;
    padding: 20px 30px;
    font-size: 1.4rem;
    background-color: var(--primary);
    color: var(--on-primary);
}
.sideBar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    flex-shrink: 0;
}
.navigationButton {
    padding: 10px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    color: var(--on-surface);
}

.main {
    padding: 80px 50px;
    display: flex;
    gap: 50px;
    justify-content: start;
}
.contentWrapper {
    flex-grow: 1;
    min-width: 0;
}
.content {
    max-width: 600px;
    margin: auto;
}
.cardWrapper {
    width: 100%;
}
.card {
    padding: 20px;
    display: flex;
    gap: 10px;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.card__container {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0px;
}
.card__title {
    flex-shrink: 1;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.0125rem;
    display: flex;
    flex-wrap: nowrap;
}
.card__title > svg {
    flex-shrink: 0;
}
.card__title > p {
    min-width: 0px;
    flex-shrink: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.card__body {
    font-size: 1.2rem;
}
.card__append {
    flex-shrink: 0;
}

.card_link {
    cursor: pointer;
    text-decoration: none;
}
.card__icon-input {
    display: flex;
    align-items: center;
}
.card__icon-input > svg {
    flex-shrink: 0;
}
.addForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.addForm input, .addForm textarea {
    border: none;
    border-bottom: 1px solid gray;
    background-color: rgba(0, 0, 0, 0.04);
    flex-wrap: wrap;
    letter-spacing: 0.009375em;
    opacity: 0.87;
    min-height: 56px;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    width: 100%;
    font-size: 1rem;
    outline: none;
}
.addForm__error {
    color: var(--error);
}
.addForm__addButton {
    background-color: rgb(76 175 80);
    color: var(--on-primary);
    padding: 16px 0;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    border-radius: 4px;
    font-weight: 600;
}
.addForm > textarea {
    min-height: 160px;
}

.mt-2 {
    margin-top: 8px;
}
.mt-4 {
    margin-top: 16px;
}
.pr-4 {
    margin-right: 16px;
}
.my-2 {
    margin-top: 8px;
    margin-bottom: 8px;
}