* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none!important;
    color: var(--on-surface)!important;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
html {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.0125rem;
    color: var(--on-surface);
}
:root {
    --primary: rgba(98, 0, 238, 1);
    --secondary: rgba(0, 0, 0, 0.4);
    --on-primary: rgba(255, 255, 255, 1);
    --on-surface: rgba(0, 0, 0, 1);
    --error: red;
    --header-height: 4rem;
    --weight-normal: 400;
    --weight-bold: 600;
}

.main {
    padding-right: 50px;
    padding-top: calc(var(--header-height) + 15px);
    display: flex;
    gap: 50px;
    justify-content: flex-start;
}
.contentWrapper {
    flex-grow: 1;
    min-width: 0;
}
.content {
    max-width: 600px;
    margin: auto;
}

.ma-4 {
    margin: 16px;
}
.mt-2 {
    margin-top: 8px;
}
.mt-4 {
    margin-top: 16px;
}
.pr-4 {
    margin-right: 16px;
}
.my-2 {
    margin-top: 8px;
    margin-bottom: 8px;
}
.ml-2 {
    margin-left: 8px;
}

.text {
    display: inline;
    font-size: 1.2rem;
    color: var(--on-surface);
    letter-spacing: 0.05rem;
}
.text_secondary {
    color: var(--secondary);
}
.text_small {
    font-size: 1rem;
}

@media only screen and (max-width: 992px) {
    :root {
        font-size: 12px;
        --weight-bold: 500;
    }
    .main {
        padding-right: 0;
    }
}

.rs-picker {
    position: relative;
    z-index: 0;
}